.faq-section{
    padding: 10px 243px;
    background-color: #fcfcfc;
    height: 60vh;
    margin-bottom: -20px;
}
.faq-section .que-div{
  
   margin-top: -10px;
    /* display: grid;
    grid-template-columns: repeat(2,1fr); */
    align-items: center;
    background-color: white;
    display: flex;
    justify-content: space-between;
  
}
.faq-section .que-div p{
    margin-top: 20px;
    width: 600px;
}
.que-div .toggle-btn button{
    position: sticky;
    margin-right: 20px;
    font-weight: 700;
    font-size: 1.9rem;
    color: black;
    border: 0px solid white;
    background-color: transparent;
}
.faq-section .que-div h2{
    height: 30px;
    border: 2px solid white;
}
.faq-section .que-div p{
    margin-top: 60px;
}
